.content {
  padding: 0 32px 32px;
}

.lead {
  margin-bottom: 16px;
  text-align: center;
}

.imageWrapper {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.btnModal {
  text-align: center;
}
.label {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.input {
  margin-left: 10px;
}
.title {
  text-align: center;
}
.check {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  margin-right: 15px;
  border-radius: 10%;
  background-color: rgb(160, 165, 147);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.button:hover {
  background-color: darkcyan;
  box-shadow: 0 1px 1px 0;
}
