.item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}
.btn {
  margin-right: 30px;
  border-radius: 10%;
  background-color: rgb(160, 165, 147);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
  width: 70px;
  height: 30px;
}

.btn:hover {
  background-color: darkcyan;
  box-shadow: 0 1px 1px 0;
}
